spring.datasource.url=jdbc:postgresql://planet_ota_service_db:5432/planet_ota_service
spring.datasource.username=planet_ota_service
spring.datasource.password=enter-password-here
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
github.webhooks.secrets.codid=enter-secret-here

spring.mvc.view.prefix=/WEB-INF/jsp/
spring.mvc.view.suffix=.jsp
